<mat-toolbar color="primary" class="mat-elevation-z6">
  
         <span>
            <mat-icon>eco</mat-icon>Gramvyapar
        </span>
    <div class="spacer"></div>
    <a mat-button routerLink='dashboard'>Dashboard</a>
    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
        Purchase
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
            <button mat-menu-item routerLink='purchase/address'>Add Address
            </button>
            <button mat-menu-item routerLink='purchase/vendor'>Vendor
            </button>
            <button mat-menu-item routerLink='purchase/priceList'>Price List
            </button>
            <button mat-menu-item routerLink='purchase/purchaseOrder'>Purchase Order
            </button>
            <button mat-menu-item routerLink='purchase/purchaseReports'>Purchase Reports
            </button>
            <button mat-menu-item routerLink='purchase/goodsReceiptNote' disabled>
                Goods Recipt Notes
            </button>

            <button mat-menu-item routerLink='purchase/purchaseBill' disabled>Purchase Bill
            </button>
            <button mat-menu-item routerLink='purchase/purchaseCreditNote' disabled>Purchase Credit Note
            </button>
            <button mat-menu-item routerLink='purchase/purchaseDeditNote' disabled>Purchase Debit Note
            </button>
            <button mat-menu-item routerLink='purchase/purchaseReturn' disabled>
                Purchase Return
            </button>
            <button mat-menu-item routerLink='purchase/billPayment' disabled>
                Bill Payment
            </button>
            <button mat-menu-item routerLink='purchase/paymentDunes' disabled>
                Payment Dunes
            </button>
            <button mat-menu-item routerLink='purchase/onlinePayment' disabled>
                Online Payment
            </button>

        </span>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="inventory" #inventoryTrigger="matMenuTrigger"
        (click)="inventoryTrigger.openMenu()">
        Inventory
    </button>
    <mat-menu #inventory="matMenu" [overlapTrigger]="false">
        <span (click)="inventoryTrigger.closeMenu()">
            <button mat-menu-item routerLink='inventory/itemMaster'>
                Item Master
            </button>
            <button mat-menu-item routerLink='inventory/stockAdjustment'>
                Stock Adjustment
            </button>
            <button mat-menu-item routerLink='inventory/materialIssue'>
                Material Issue
            </button>
            <button mat-menu-item routerLink='inventory/materialReceipt'>
                Material Receipt
            </button>
            <button mat-menu-item routerLink='inventory/purchaseReports'>
               Purchase Report
            </button>   
            <button mat-menu-item routerLink='inventory/interBranchIssueRequest' disabled>
                Inter BranchIssueRequest
            </button>
            <button mat-menu-item routerLink='inventory/interBranchIssue' disabled>
                Inter Branch Issue
            </button>
            <button mat-menu-item routerLink='inventory/interBranchReceipt' disabled>
                Intern Branch Recipt
            </button>
            <button mat-menu-item [matMenuTriggerFor]="jobWorkOutword" routerLink='inventory/jobWorkOutWord'
                 disabled>
                Job Work Outword
            </button>
            <mat-menu #jobWorkOutword="matMenu">
                <button mat-menu-item routerLink='inventory/jobWorkOutwardRate' disabled>Job Work Outward Rate</button>
                <button mat-menu-item routerLink='inventory/materialIssueedForJobWork' disabled>Matrial Issued For Job
                    Work</button>
                <button mat-menu-item routerLink='inventory/materialReceivedAfterJobWork' disabled>Material Received After Job
                    Work</button>
                <button mat-menu-item routerLink='inventory/jobWorkOutwardInvoice' disabled>Job Work Outward Invoice</button>
            </mat-menu>

        </span>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="reports" #reportsTrigger="matMenuTrigger" (click)="reportsTrigger.openMenu()">
        Reports
    </button>
    <mat-menu #reports="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="reportsTrigger.closeMenu()">
            <button mat-menu-item routerLink='reports/minimumPurchaseReport'>Minimum Purchase Report
            </button>
            <button mat-menu-item routerLink='reports/productVendorWisePurchaseReport'>Product/Vendor Wise Purchase Report
            </button>
            <button mat-menu-item routerLink='reports/salesReport'>Sales Report
            </button>
        </span>
    </mat-menu>
    <a mat-button routerLink='uploadDocuments'>Join with us</a>
</mat-toolbar>  
