/* .full-width-field {
    width: 40%;
    margin-left: 10px;
 } */

 /* .mat-input-wrapper{
    width:400px !important;
  }
   */

mat-form-field {
   min-width: 230px !important;
}

.mat-cell,.mat-header-cell { 
   text-align: center;
   border-right: 1px solid gray;
}