/* .full-width-field {
    width: 40%;
    margin-left: 10px;
 } */

 /* .mat-input-wrapper{
    width:400px !important;
  }
   */

mat-form-field {
   min-width: 230px !important;
}
.customInput{
   min-width: 20px !important;
}

/* .mat-cell,.mat-header-cell { 
   text-align: center;
   border-right: 1px solid gray;
} */

.mat-column-AvailableQuantity {
   flex: none;
   width: 120px;
} 
.mat-column-BuyingPrice {
text-align: center;
} 