/* .full-width-field {
    width: 40%;
    margin-left: 10px;
 } */

 /* .mat-input-wrapper{
    width:400px !important;
  }
   */

mat-form-field {
   min-width: 60px !important;
}

.availabelQuantityInput{
   width: 20px !important;
}

.mat-column-AvailableQuantity {
   flex: none;
   width: 100px !important;
} 

.mat-column-BuyingPrice {
   text-align: center;
   width: 120px !important;
} 
.mat-column-Discount {
   text-align: center;
   width: 120px !important;
} 
.mat-column-FinalPrice {
   text-align: center;
   width: 120px !important;
} 

.mat-column-ProductId {
   flex: none;
   width: 120px !important;
} 


.mat-column-BrandName {
   flex: none;
   width: 140px !important;
} 

.mat-column-ProductName {
   flex: none;
   width: 140px !important;
} 

.mat-column-BrandName {
   flex: none;
   width: 140px !important;
} 

.mat-column-Quantity {
   flex: none;
   width: 140px !important;
   word-wrap: break-word;
   text-align: left;
   padding: 4px;
} 

/* .mat-cell,.mat-header-cell { 
   text-align: center;
   border-right: 1px solid gray;
} */

/* ProductId
BrandName
ProductName
Quantity
AvailableQuantity
BuyingPrice
Discount
FinalPrice */

.mat-footer-cell{

   font-size:18px;
   color:blue;
}