<div class="container">
    <h3 class="font-weight-bold">Basic Information</h3>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Name" />
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Under Group" />
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Category" />
            </mat-form-field>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Type" />
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Code" />
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Bar Code" />
            </mat-form-field>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Inactive" />
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="GST Classification (HSN/SAC)" />
            </mat-form-field>
        </div>
        <!-- <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Upload Document" />
            </mat-form-field>
        </div> -->
    </div>
</div>
<mat-divider></mat-divider>
<div class="container my-3">
    <h3 class="font-weight-bold">Sales</h3>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Desciption</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-4 mt-3">
            <mat-form-field>
                <input matInput placeholder="Sales GL" />
            </mat-form-field>
        </div>
        <div class="col-md-4 mt-3">
            <mat-form-field>
                <input matInput placeholder="MRP" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Sales Rates" />
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Rate Factor" />
            </mat-form-field>
        </div>
    </div>
</div>
<mat-divider></mat-divider>

<div class="container my-3">
    <h3 class="font-weight-bold">Purchase</h3>

    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Desciption</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-4 mt-3">
            <mat-form-field>
                <input matInput placeholder="Purchase GL" />
            </mat-form-field>
        </div>
        <div class="col-md-4 mt-3">
            <mat-form-field>
                <input matInput placeholder="Purchase Rate" />
            </mat-form-field>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div class="container my-3">
    <h3 class="font-weight-bold">Inventory</h3>

    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Garment Item Type" />
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Minimum Level" />
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field>
                <input matInput placeholder="Serial Tracking" />
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button>Clear</button>
    <button mat-raised-button>Import</button>
    <button mat-raised-button mat-dialog-close>Close</button>
</div>