<h3 class="mt-3" style="text-align: center;color:blue;">Sub Categories</h3>
<div class="row my-3 ml-3 mr-3">
    <div class="col-md-3 col-sm-3 col-6 my-3" *ngFor="let product of products">
        <div class="card" style="width:290px" (click)="onCardClick(product)" style="cursor: pointer;border-radius: 15px">
            <img class="card-img-top" src="{{product.representation}}" alt="Card image"  style="width:100%;height: 150px;">
            <!-- <img [src]="UploadDocumentsService.BASE_API+element.filePath" height="20px" width="20px" /> -->
            <div class="card-body">
              <h4 class="card-title text-center">{{product.name}}</h4>

              
              <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
            </div>
          </div>
    </div>
</div>