<h2 class="mat-display-1 mt-5" style="text-align: center;color:blue;">Welcome to Gramvyapar from Purchase</h2>
<div class="container my-3">
    <mat-card>
        <div class="row" style="text-align: center;">



            <div class="col-md-4">
                <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#0086ad'" [innerStrokeColor]="'#97ebdb'" [animation]="true"
                    [animationDuration]="3000">
                </circle-progress>

                <h3 style="color:#3366ff;font-size:25px;">Purchase</h3>
            </div>
            <div class="col-md-4">
                <circle-progress [percent]="62" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#f9d62e'" [innerStrokeColor]="'#eae374'" [animation]="true"
                    [animationDuration]="3000">
                </circle-progress>
                <h3 style="color:#ffcc00;font-size:25px;">Sale</h3>
            </div>
            <div class="col-md-4">
                <circle-progress [percent]="35" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
                    [animationDuration]="3000">
                </circle-progress>
                <h3 style="color:#339900;font-size:25px;">Profit</h3>
            </div>

        </div>
    </mat-card>
</div>

<div class="container my-3">
    <mat-card>
        <div class="row">
            <div class="col-md-3">

                <div class="card bg-primary text-center">
                    <span>86<i class="fa fa-users fa-1x ml-2"></i></span>
                    <h2>Total Customers</h2>
                </div>
            </div>
            <div class="col-md-3">

                <div class="card text-center" style="background-color:#ffc107">
                    <span>1201<i class="fa fa-inr fa-1x ml-2"></i></span>
                    <h2>Sales Today</h2>
                </div>
            </div>
            <div class="col-md-3">

                <div class="card bg-success text-center">
                    <span>8912<i class="fa fa-inr fa-1x ml-2"></i></span>
                    <h2>Sales In Last 7 Days</h2>

                </div>
            </div>
            <div class="col-md-3">

                <div class="card bg-danger text-center">
                    <span>28683<i class="fa fa-inr fa-1x ml-2"></i></span>
                    <h2>Total Sale of Month</h2>

                </div>
            </div>

        </div>
    </mat-card>
</div>

<div class="container text-center my-4">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary">Create New Vendor</button>

        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-info yellow-button" >Create New Order</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success">View Monthly Reports</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger" (click)="openDialog()">Add Shop Address</button>
        </div>
    </div>
</div>
