<div class="container my-5">
    <div class="row">
        <div class="col-md-3 col-3 col-sm-3 col-div">
            <mat-card style="height: 97%;width: 95%;">
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-md-3 col-sm-4 col-4 text-center  bg-primary custom-div">
                        <span class="mt-5"><i class="fa fa-inr fa-1x" style="margin-top: 12px;"></i></span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 custom-div">
                             <h2 class="font-weight-bold text-primary" style="margin-top: 13px;"> {{purchasePerDayResult}}</h2> 
                    </div>
                </div>
                <h2 class="text-center mt-2 text-primary">Purchase Per Day</h2>
            </mat-card>
        </div>
        <div class="col-md-3 col-3 col-sm-3 col-div">
            <mat-card style="height: 97%;width: 95%;">
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-md-3 col-sm-4 col-4 text-left  bg-warning  custom-div">
                        <span class="mt-5"><i class="fa fa-inr fa-1x" style="margin-top: 12px;"></i></span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 custom-div">
                        <h2 class="font-weight-bold text-warning" style="margin-top: 13px;"> 1614</h2> 
                    </div>
                </div>
                <h2 class="text-center mt-2 text-warning">Sale Per Day</h2>
            </mat-card>
        </div>
        <div class="col-md-3 col-3 col-sm-3 col-div">
            <mat-card style="height: 97%;width: 95%;">
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-md-3 col-sm-4 col-4 text-center  bg-success  custom-div">
                        <span class="mt-5"><i class="fa fa-inr fa-1x mt-3" style="margin-top: 12px;"></i></span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 custom-div">
                        <h2 class="font-weight-bold text-success" style="margin-top: 13px;"> 432</h2> 
                    </div>
                </div>
                <h2 class="text-center mt-2 text-success">Profit Per Day</h2>
            </mat-card>
        </div>
        <div class="col-md-3 col-3 col-sm-3 col-div">
            <mat-card style="height: 97%;width: 95%;">
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-md-3 col-sm-4 col-4 text-center  bg-danger  custom-div">
                        <span class="mt-5"><i class="fa fa-users fa-1x mt-3"></i></span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 custom-div">
                        <h2 class="font-weight-bold text-danger" style="margin-top: 13px;"> {{purchaseOrderPerDayResult}}</h2> 
                    </div>
                </div>
                <h2 class="text-center mt-2 text-danger">Orders Per Day</h2>
            </mat-card>
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="row">
        <div class="col-md-3 col-3 col-sm-3 col-div">
            <mat-card style="height: 97%;width: 95%;">
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-md-3 col-sm-4 col-4 text-center  bg-primary custom-div">
                        <span class="mt-5"><i class="fa fa-inr fa-1x" style="margin-top: 12px;"></i></span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 custom-div">
                             <h2 class="font-weight-bold text-primary" style="margin-top: 13px;"> {{purchasePerMonthResult}}</h2> 
                    </div>
                </div>
                <h2 class="text-center mt-2 text-primary">Purchase Per Month</h2>
            </mat-card>
        </div>
        <div class="col-md-3 col-3 col-sm-3 col-div">
            <mat-card style="height: 97%;width: 95%;">
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-md-3 col-sm-4 col-4 text-left  bg-warning  custom-div">
                        <span class="mt-5"><i class="fa fa-inr fa-1x" style="margin-top: 12px;"></i></span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 custom-div">
                        <h2 class="font-weight-bold text-warning" style="margin-top: 13px;"> 16890</h2> 
                    </div>
                </div>
                <h2 class="text-center mt-2 text-warning">Sale Per Month</h2>
            </mat-card>
        </div>
        <div class="col-md-3 col-3 col-sm-3 col-div">
            <mat-card style="height: 97%;width: 95%;">
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-md-3 col-sm-4 col-4 text-center  bg-success  custom-div">
                        <span class="mt-5"><i class="fa fa-inr fa-1x mt-3" style="margin-top: 12px;"></i></span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 custom-div">
                        <h2 class="font-weight-bold text-success" style="margin-top: 13px;"> 6784</h2> 
                    </div>
                </div>
                <h2 class="text-center mt-2 text-success">Profit Per Month</h2>
            </mat-card>
        </div>
        <div class="col-md-3 col-3 col-sm-3 col-div">
            <mat-card style="height: 97%;width: 95%;">
                <div class="row justify-content-center" style="margin-top: 25px;">
                    <div class="col-md-3 col-sm-4 col-4 text-center  bg-danger  custom-div">
                        <span class="mt-5"><i class="fa fa-users fa-1x mt-3"></i></span>
                    </div>
                    <div class="col-md-8 col-sm-8 col-8 custom-div">
                        <h2 class="font-weight-bold text-danger" style="margin-top: 13px;"> {{purchaseOrderPerMonthResult}}</h2> 
                    </div>
                </div>
                <h2 class="text-center mt-2 text-danger">Orders Per Month</h2>
            </mat-card>
        </div>
    </div>
</div>

<div class="container text-center my-4">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" (click)="addAddress()"> Add Shop Address</button>

        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-info yellow-button" (click)="createVendor()">Create New Vendor</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success" (click)="goToPriceList()">Add Price List Items</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger" (click)="createOrder()">Create New Order</button>
        </div>
    </div>
</div>
