.bg-orange {
  background-color: #ffb327;
  color:#fff;
  height: 130px;
}

.bg-green {
  background-color: #5cb85c;
  color:#fff;
  height: 130px;
}

.bg-red {
  background-color:  #d9534f;
  color:#fff;
  height: 130px;
}

.bg-blue {
  background-color: #337ab7;
  color:#fff;
  height: 130px;
}


.mat-divider {
  background-color:white !important;
  border-top-width: 2px !important;
  margin-top: 20px;
  margin-bottom: 17px;
}

.custom-div {
  font-size: 22px;
}

span {
  font-size: 27px;

}
p {
  font-size: 25px;
}

.yellow-button{
  background-color: #ffb327;
}

.blue-button {
  background-color: #337ab7;
}

.red-button{
  background-color:  #d9534f; 
}


.green-button{
  background-color: #5cb85c;
}