
.col-div{
  height: 150px;
  width: 100%;
  /* background-color: red; */
}

.custom-div{
  height: 62px;
  /* background-color: yellow; */
}

.custom-div {
  height: 62px;
}

/* span{
  
  font-size:30px;
   margin-top: 10px; 
} */
i{
  color:whitesmoke;
  font-size: 40px;
}
p{
  margin-top:16px;
  /* color:black; */
}

.fa-users{
  font-size: 30px;
}

.yellow-button{
  background-color: #ffc107;
}
