mat-footer-row, mat-header-row, mat-row {
    border-bottom-width: 10px;
  }
  .mat-cell {
    font-size: 14px;
    min-height: 48px;
    text-align: center;
    border: 1px solid gray;
}
.mat-footer-cell{
    text-align: center;
    font-size:18px;
    color:blue;
}

.mat-header-cell{
  text-align: center;
}

.mat-column-ProductName{
  flex: none;
  width: 140px;
  text-align: center;
}

.mat-column-BrandName{
  flex: none;
  width: 200px;
  text-align: center;
}


.mat-column-Varient{
  flex: none;
  width: 220px;
  text-align: center;
}
/* ['ProductName', 'BrandName', 'Varient', 'ProductMRP', 'ProductDiscount', 'totalQuantityOrder', 'totalFinalPrice', 'totalDiscountPrice', 'FinalPurchaseAmount']; */