<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-3 mt-4">
      <mat-form-field style="width: 100% !important;">
        <mat-select placeholder="Category List" [(ngModel)]="selectedCategory">
          <mat-option *ngFor="let item of categoryListData;" [value]="item.id" (click)="selectedCategoryFromList(item)">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3 mt-4">
      <mat-form-field style="width: 100% !important;">
        <mat-select  placeholder="Sub Category List" [(ngModel)]="selectedSubCategory">
          <mat-option *ngFor="let item of subCategoryListData;" [value]="item.id"
            (click)="selectedSubCategoryFromList(item)">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3 mt-4">
      <mat-form-field style="width: 100% !important;">
        <mat-select  placeholder="Brand List" [(ngModel)]="selectedBrands">
          <mat-option *ngFor="let item of uniqueBrandNamesArray;" [value]="item.brandid"
            (click)="selectedBrandFromList(item)">
            {{item.brandname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-md-4 col-sm-4 col-12">
      <mat-form-field style="width: 100%;">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>


    <div class="col-md-2 col-sm-2 col-12">
      <button mat-raised-button class="float-right mb-2 width-100" color="primary" (click)="goCart()">Add to
        Cart</button>
    </div>

  </div>
</div>

<!-- <div class="container-fluid my-4" *ngIf="brandsData.length > 0"> -->
<div class="container-fluid my-4">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="brandname">
      <th mat-header-cell *matHeaderCellDef> Brand Name </th>
      <td mat-cell *matCellDef="let element"> {{element.brandname}} </td>
    </ng-container>

    <ng-container matColumnDef="selectVarient">
      <th mat-header-cell *matHeaderCellDef> Varient </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-select id="productDetails" placeholder="Varient" [(value)]="element.productDetails[0].Unit">
            <!-- <mat-option *ngFor="let brand of brandsData.productDetails; let i = index" [value]="brand.id"> -->
            <mat-option *ngFor="let brand of element.productDetails;let i = index;" [value]="brand.Unit"
              (click)="selectedVarientFromList(element,i)">
              {{brand.Unit}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="mrp">
      <th mat-header-cell *matHeaderCellDef> MRP </th>
      <td mat-cell *matCellDef="let element">
        <span [id]="'mrp'+element.productid"> {{element.productDetails[0].MRP}}</span>
        <!-- <span [id]="'mrp'+element.productid"> {{mrp}}</span> -->
        <!-- <span [id]="'mrp'+element.productid"> {{'mrp'+element.productid}}</span> -->
        <!-- {{element.brandname}} -->
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef> Discount </th>
      <td mat-cell *matCellDef="let element">
        <span [id]="'discount'+element.productid"> {{element.productDetails[0].Discount}}</span>
        <!-- <span [id]="'discount'+element.productid"> {{discount}}</span> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef> Final Price </th>
      <td mat-cell *matCellDef="let element">
        <span [id]="'finalPrice'+element.productid"> {{element.productDetails[0].FinalPrice}}</span>
        <!-- <span [id]="'finalPrice'+element.productid"> {{finalPrice}}</span> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="requiredQuantity">
      <th mat-header-cell *matHeaderCellDef> Required Quantity </th>
      <td mat-cell *matCellDef="let element">

        <mat-form-field floatLabel="never" style="width:80px;">
          <input matInput placeholder="Quantity" [(ngModel)]="element.mappingid"
            (focusout)="onQuantityChange(element,element.mappingid,i)">
        </mat-form-field>
        <!-- 
        <mat-form-field floatLabel="never" style="width:80px;" *ngIf="">
          <input matInput placeholder="Quantity" id="'disabledQuantity'+element.productid">
        </mat-form-field> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>




</div>
<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>