/* .container-fluid
{
    text-align: center;
    width:100%;
    height: 80pt;
    border: 1px solid black;
}
.square
{
    margin:1px;
    width:20%;
    text-align:left;
    border: 1px solid gray;
    display:inline-block;    
} */
/* .fixed-height-div{
    height:200px;
} */