<h3 class="mt-3" style="text-align: center;color:blue;">Stock In Component</h3>

<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <!-- <mat-form-field style="width: 230px !important;">
                    <mat-select id="vendor_List" placeholder="Vendor List" [(ngModel)]="purchaseOrder.vendor">
                        <mat-option *ngFor="let item of vendorData;" [value]="item.vendorId"
                            (click)="selectedVendorFromList(item)">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

            <mat-form-field style="width: 100% !important;">
                <mat-select id="vendor_List" placeholder="Vendor List">
                    <mat-option *ngFor="let item of vendorData;" [value]="item.vendorId"
                        (click)="selectedVendorFromList(item)">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field style="width: 100% !important;">
                <mat-select placeholder="Order No">
                    <mat-option *ngFor="let item of purchaseReportData;" [value]="item.OrderNo"
                        (click)="selectedOrderNumberList(item)">
                        {{item.OrderNo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4 mt-2">
            <button mat-raised-button color="primary" class="width-100" (click)="SearchRecords()">Search</button>

        </div>
    </div>
</div>
<mat-divider></mat-divider>

<div class="container my-2">
    <div class="row mb-4">
        <div class="col-md-8 col-sm-8"></div>
        <div class="col-md-4 col-sm-4 float-right">
            <button mat-raised-button color="primary" [disabled]="updateAllRecordsCount===0" class="width-100 mt-2"
                (click)="updateAll()">Stock In Item
                (<span>{{updateAllRecordsCount === 0 ? 0 : updateAllRecordsCount}}</span>) </button>

        </div>
    </div>
    <div class="row">

        <div class="col-md-12">

            <div *ngIf="purchaseOrderItemData.length">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef style="width: 50px;">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? [selection.toggle(row),onChange($event)] : null"
                                [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="subCategory">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Category</th>
                        <td mat-cell *matCellDef="let element"> {{element.SubCategoryId}} </td>
                    </ng-container>


                    <ng-container matColumnDef="brand">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                        <td mat-cell *matCellDef="let element"> {{element.BrandID}} </td>
                    </ng-container>

                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.ProductId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="varient">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Varient </th>
                        <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="buyingPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Buying Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.BuyingPrice}} </td>
                    </ng-container>
                    <ng-container matColumnDef="quantityOrdered">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Ordered </th>
                        <td mat-cell *matCellDef="let element"> {{element.PurchaseQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantityReceived">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Received </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never" style="width: 80px !important;">
                                <input matInput placeholder="Quantity" [(ngModel)]="element.QuantityReceived">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Discount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
                        <td mat-cell *matCellDef="let element">

                            <mat-form-field floatLabel="never" style="width: 50px !important;">
                                <input matInput placeholder="amount" [(ngModel)]="element.Discount">
                            </mat-form-field>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="sellingPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never" style="width: 70px !important;">
                                <input matInput placeholder="amount" [(ngModel)]="element.SellingPrice">
                            </mat-form-field>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="barCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bar Code </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never" style="width: 50px !important;">
                                <input matInput placeholder="barcode" [(ngModel)]="element.Barcode">
                            </mat-form-field>


                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="editItem(element)">
                                <span [disabled]="!i">
                                    <mat-icon>save</mat-icon>
                                </span>
                            </button>
                        </td>
                    </ng-container> -->




                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row [ngClass]="{'make-gold': row.ProductPrice > 0}"
                        *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[20,50,100]" showFirstLastButtons></mat-paginator>

            </div>
            <div *ngIf="purchaseOrderItemData.length===0" class="text-center font-weight-bold"> 
                No Record found
            </div>




            <!-- <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef style="width: 50px;">
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? [selection.toggle(row),onChange($event)] : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="subCategory">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Category</th>
                        <td mat-cell *matCellDef="let element"> {{element.SubCategoryId}} </td>
                    </ng-container>


                    <ng-container matColumnDef="brand">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                        <td mat-cell *matCellDef="let element"> {{element.BrandId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.ProductId}} </td>
                    </ng-container>

                    <ng-container matColumnDef="varient">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Varient </th>
                        <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantityOrdered">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Ordered </th>
                        <td mat-cell *matCellDef="let element"> {{element.PurchaseQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantityReceived">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Received </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never" style="width: 80px !important;">
                                <input matInput placeholder="Quantity" [(ngModel)]="element.FinalPrice">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Discount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
                        <td mat-cell *matCellDef="let element">

                            <mat-form-field floatLabel="never" style="width: 50px !important;">
                                <input matInput placeholder="amount" [(ngModel)]="element.Discount">
                            </mat-form-field>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="sellingPrice">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never" style="width: 70px !important;">
                                <input matInput placeholder="amount" [(ngModel)]="element.BuyingPrice">
                            </mat-form-field>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="barCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bar Code </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field floatLabel="never" style="width: 50px !important;">
                                <input matInput placeholder="barcode" [(ngModel)]="element.CreatedAt">
                            </mat-form-field>


                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button (click)="editItem(element)">
                                <span [disabled]="!i">
                                    <mat-icon>save</mat-icon>
                                </span>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table> -->




        </div>
    </div>


    <!-- <div class="container my-5">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Remarks</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-3" style="margin-top: 15px;">
                    <mat-form-field>
                        <input matInput placeholder="File Upload" />
                    </mat-form-field>
                </div>
            </div>
        </div> -->